@import url('https://fonts.googleapis.com/css?family=Srisakdi:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

@media (min-width: 300px) {
    .headcover {
        background-image: url("./assets/cover1-1.jpg");
        min-height: 15rem;
        height: auto;
        background-size: cover;
        border-radius: 0;
        width: 100%;
        color: black;
        font-family: 'Srisakdi', cursive;
        left: auto;
        right: auto;
    }

    .headtext {
        color: #ffffff;
        margin-top: 12rem;
        text-align: center;
        font-size: 15px;
        padding-bottom: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
        transition-duration: 3s;
    }
}

@media (min-width: 700px) {
    .headcover {
        background-image: url("./assets/cover1-2.jpg");
        min-height: 15rem;
        height: auto;
        background-size: cover;
        border-radius: 0;
        width: 100%;
        color: black;
        font-family: 'Srisakdi', cursive;
        left: auto;
        right: auto;
    }

    .headtext {
        color: #ffffff;
        margin-top: 12rem;
        text-align: center;
        font-size: 15px;
        padding-bottom: 3rem;
    }
}

@media (min-width: 991.98px) {
    .headcover {
        background-image: url("./assets/cover1.jpg");
        min-height: 30rem;
        height: auto;
        background-size: cover;
        border-radius: 0;
        width: 100%;
        color: black;
        font-family: 'Srisakdi', cursive;
    }
    
    .headtext {
        color: #ffffff;
        margin-top: 15rem;
        text-align: center;
        transition: 3s;
    }
}

.content {
    color: black;
    font-family: 'Kanit';
    text-align: center;
}
